<ion-view view-title="登录" ng-controller="loginCtrl" class="lit-pink">
	<div>
		<div class="logo">
			随 心 记
			<!-- <img src="/img/avatar.jpg" style="width: 100%;height: auto;"> -->
		</div>

		<div class="input-box">
			<input type="text" class="first" ng-model="user.name" placeholder="账号"/>

			<input type="password" class="last" ng-model="user.pwd" placeholder="密码"/>

			<button class="submit" ng-click="login()">登 录</button>
		</div>
		<div class="login-tool">
			<div id="forget" ng-click="forget()">忘记密码?</div>
			<div>还没有账号？<a id="register" href="#/register">立即注册</a></div>
		</div>
		
	</div>
	
</ion-view>