<ion-view view-title="登录" ng-controller="loginCtrl" style="background-color:#f6e8e5;">
	<div>
		
		<div class="login-logo">
			<img src="/img/avatar.jpg" style="width: 100%;height: auto;">
		</div>

		<div class="login-box">
			<input type="text" class="login-input bottom-border" ng-model="user.name" placeholder="账号"/>

			<input type="password" class="login-input bottom-border" ng-model="user.pwd" placeholder="密码"/>

			<input type="button" class="login-submit" ng-click="login()" value="登 录"/>
		</div>
		
		
	</div>
	<div class="login-tool">
		<div id="forget">忘记密码?</div>
		<div id="register" ng-click="register()">注册</div>
	</div>
</ion-view>