<ion-view view-title="心有所楚" ng-controller="bookListCtrl">
	<ion-content>
		<ion-list>
			<ion-item ng-repeat="item in books" ng-click="gotoDetail(item)" style="padding:10px 16px;">
			    <h2>{{item.title}}</h2>
			    <p>{{item.content}}</p>
			    <div class="booklist-date">{{item.date | date:"yyyy-MM-dd HH:mm:ss"}}</div>
			</ion-item>
		</ion-list>
	</ion-content>
	<ion-footer-bar align-title="center" class="book-footer-bar" ng-click="gotoWrite()">
		<div class="title">写篇日记吧!</div>
	</ion-footer-bar>
</ion-view>