<ion-view view-title="注册" ng-controller="registerCtrl" class="lit-pink">
	<div>
		
		<div class="logo">
			随 心 记
		</div>

		<div class="login-box">
			<input type="text" class="login-input bottom-border login-user" ng-model="user.name" placeholder="账号(1-10位长度)"/>

			<input type="password" class="login-input bottom-border" ng-model="user.pwd" placeholder="密码(6-15位数字、字母或特殊字符)"/>

			<input type="password" class="login-input login-pwd" ng-model="user.confirm_pwd" placeholder="再次输入密码"/>

			<input type="button" class="login-submit" ng-click="register()" value="注 册"/>
		</div>
		<div class="login-tool">
			<div>已有账号&nbsp<a id="register" href="#/login">返回登录</a></div>
		</div>
		
	</div>

</ion-view>