<ion-view view-title="心有所楚" ng-controller="writeBookCtrl">
	<ion-content>
		<div class="book-editbox">
			<input placeholder="标题(非必填)" ng-model="books.title" class="input-title">
			<textarea placeholder="正文(不能低于10个有效字符)" class="book-textarea" ng-model="books.bookcontent" ng-trim="false"></textarea>
      <div style="text-align: right">
			 <button class="button button-positive btn-submit" ng-click="uploadbook()">发表</button>
      </div>
		</div>
		<div class="blank-block"></div>
	</ion-content>
	<!--test htmlmin-->
</ion-view>

<!--底部导航-->
<div class="tabs tabs-icon-top">
  <a class="tab-item" href="#/mybook">
    <i class="icon ion-home"></i>
    主页
  </a>
  <a class="tab-item tab-active" href="#/writebook">
    <i class="icon ion-edit"></i>
    随心记
  </a>
  <a class="tab-item" href="#/mycenter">
    <i class="icon ion-person"></i>
    个人中心
  </a>
</div>