<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <script src="lib/jquery/jquery-1.11.1.min.js"></script>
    <script src="lib/aes.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
    <script src="js/router.js"></script>
    <script src="js/apis.js"></script>
    <!--services-->
    <script src="js/service/popup.js"></script>
    <script src="js/service/util.js"></script>
    <script src="js/service/api.service.js"></script>
    <!--controller-->
    <script src="js/controller/bookListCtrl.js"></script>
    <script src="js/controller/writeBookCtrl.js"></script>
    <script src="js/controller/detailBookCtrl.js"></script>
    <script src="js/controller/loginCtrl.js"></script>
    <script src="js/controller/registerCtrl.js"></script>
    <script src="js/controller/myCenterCtrl.js"></script>
    <!--filters-->
    <script src="js/filter/common.js"></script>

  </head>
  <body ng-app="lichu"> 
    <!--
      The views will be rendered in the <ion-nav-view> directive below
      Templates are in the /templates folder (but you could also
      have templates inline in this html file if you'd like).
    -->
    <ion-nav-view></ion-nav-view>
  </body>
  <script type="text/javascript">
  var html = document.getElementsByTagName("html")[0];
  var fontSize = window.innerWidth * 100.0 / 720;
  html.setAttribute("style","font-size:" + fontSize + "px");


  $.fn.autosize = function(){
    $(this).height('0px');
    var setheight = $(this).get(0).scrollHeight;
    if($(this).attr("_height") != setheight)
     $(this).height(setheight+"px").attr("_height",setheight);
    else
     $(this).height($(this).attr("_height")+"px");
   }
  </script>
</html>
