/* Empty. Add your own CSS if you like */
.bookdate{
	float: right;
	font-size: 12px;
	color: #ccc;
}

.book-footer-bar{
	border-color: #b2b2b2;
    background-color: #f8f8f8;
    background-image: linear-gradient(0deg, #b2b2b2, #b2b2b2 50%, transparent 50%);
    color: #444;
}    

.btn-write{
	width: 100%;
	height: 100%;
	border: 1px solid #ccc;
}

.book-textarea{
	padding: 6px 8px;
	width: 100%;
	min-height: 200px;
	border: 1px solid #ccc;
}
.book-title{
	padding:3px 6px;
	width: 100%;
	margin-bottom: 8px;
	margin-top: 3px;
}
.btn-submit{
	height: 25px;
	float: right;
	line-height: 23px;
	min-height: 25px;
	margin: 2px 3px 0 0;
}

.login-box{
	width: 80%;
	margin: 0 auto;
	border: 0px;
}
input.login-input{
	border: 0px solid #ccc;
	width: 100%;
	height: 1rem;
	padding: 2px 10px;
	margin: 0 auto;
}

input.bottom-border{
	border-bottom: 1px solid #ccc;
}

.login-logo{
	border: 1px solid #ffffff;
	width: 80px;
	height: 80px;
	border-radius: 80px;
	margin: 50px auto 40px;
	overflow: hidden;
}

.login-submit{
	width: 100%;
	height: 1rem;
	line-height: 1rem;
	background-color: #3498FF;
	color: #ffffff;
	border: 0px;
	margin-top: 0.5rem;
	font-size: 0.375rem;
	border-radius: 3px;
}

.login-tool{
	position: absolute;
	position: fixed;
	bottom: 0px;
	height: 1rem;
	width: 100%;
	line-height: 1rem;
}
#forget{
	float: left;
	margin-left: 5%;
	color: #604744;
	font-size: 0.3rem;
	text-decoration: underline;
}
#register{
	float: right;
    margin-right: 5%;
    margin-top: 0.15rem;
    width: 1.5rem;
    height: 0.65rem;
    line-height: 0.65rem;
    background-color: #EFCFC7;
    border: 1px solid #ccc;
    border-radius: 0.3rem;
    text-align: center;
    font-size: 0.3rem;
    color: #5D5B53;
}