/* Empty. Add your own CSS if you like */
body{
	color: #333;
}

.book-footer-bar{
	border-color: #b2b2b2;
    background-color: #f8f8f8;
    background-image: linear-gradient(0deg, #b2b2b2, #b2b2b2 50%, transparent 50%);
    color: #444;
}    

.btn-write{
	width: 100%;
	height: 100%;
	border: 1px solid #ccc;
}

.book-textarea{
	padding: 5px 10px;
	width: 100%;
	height: 100px;
	min-height: 100px;
	max-height: 250px;
	border: 0;
	border-bottom: 1px solid #ccc;
	line-height: 20px;
	font-size: 14px;
	text-align:justify;
	text-justify:inter-ideograph;
}
.input-title{
	padding:3px 6px;
	width: 100%;
	margin-bottom: 8px;
	margin-top: 3px;
	border: 0;
	border-bottom: 1px solid #ccc;
	height: 50px;
    font-size: 18px;
}
.btn-submit{
	height: 25px;
	line-height: 23px;
	min-height: 25px;
	margin: 10px 3px 0 0;
}

.login-box{
	width: 80%;
	margin: 0 auto;
	border: 0px;
}

.logo{
	color: #fff;
	text-align: center;
	margin-top: 30px;
	font-size: 25px;
	text-shadow: 5px 2px 6px #555;
	margin-bottom: 20px;
}

.login-box input:focus
{ 
	border-bottom: 1px solid #3498FF;
}
input.login-input{
	border: 0px solid #ccc;
	width: 100%;
	font-size: 15px; 
	height: 45px;
	line-height: 15px;
	padding: 15px 10px 14px 10px;
	margin: 0 auto;
	border-radius: 0px;
}
input.login-user{
	border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
input.login-pwd{
	border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

input.bottom-border{
	border-bottom: 1px solid #ccc;
}

.login-logo{
	border: 1px solid #ffffff;
	width: 80px;
	height: 80px;
	border-radius: 80px;
	margin: 50px auto 40px;
	overflow: hidden;
}

.login-submit{
	width: 100%;
	height: 45px;
	line-height: 45px;
	background-color: #3498FF;
	color: #ffffff;
	border: 0px;
	margin-top: 20px;
	font-size: 20px;
	border-radius: 3px;
}

.login-submit:hover{
	opacity: 0.8;
}

.login-tool{
	height: 45px;
	width: 80%;
	margin: 0 auto;
	line-height: 45px;
	z-index: -1;
	color: #949494;
	font-size: 12px;
}
#forget{
	float: right;
	margin-right: 10px;
	color: #3498FF;
}
#register{
    color: #3498FF;
}

.lit-pink{
	background-color:#f6e8e5;
}


.book-title{
	text-align: left;
	margin: 0 10px;
	font-size: 20px;
	padding-bottom: 10px;
	border-bottom: 1px solid #eee;
	font-weight: 500;
}

.book-content{
	color: #575757;
	font-size: 14px;
	padding: 5px 10px;
	line-height: 20px;
	text-align:justify;
	text-justify:inter-ideograph;
}

.list-content{
	height: 20px;
	overflow: hidden;
	white-space:nowrap; 
	text-overflow:ellipsis;
}
.book-date{
	text-align: right;
	font-size: 12px;
	color: #949494;
	padding-right: 12px;
	display: block;
}

.booklist-date{
	float: right;
	font-size: 12px;
	color: #949494;
}

.blank-block{
	height: 47px;
}

.book-editbox{
	padding: 10px;
}

.loadMore{
	height: 50px;
    text-align: center;
    line-height: 50px;
    color: #949494;
    background-color: #EDEDED;
}

.tip{
	position: absolute;
	position: fixed;
	bottom: 60px;	
	width: 60%;
	line-height: 50px;
	border: 1px solid #ccc;
	border-radius: 5px;
	text-align: center;
	margin-left: 20%;
	color: #fff;
	background-color: #D4D4D4;
}

.arraw-bottom{
	margin-left: 48%;
	width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 10px solid #D4D4D4;
    margin-bottom: -10px;
}

.tab-active {
	color: #00BFFF;
}

.dark-ddd{
	color: #b2b2b2;
}